<div class='backdrop'>
	<div class='disabling'>
		<div id='sidebar'></div>
		<div class='clearfix' id='backdrop'>
			<div id="main"></div>	
		</div>
	</div>
</div>
<div id='biz-show'></div>
<script>
window.bus = JSON.parse('<%=j Business.all.to_json(includes: :first_article).html_safe %>');
$(Greedly.initialize())
</script>