/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

//* {
//	border: thin solid blue;
//}

//cool stuff:
//position: absolute;
//width: 800px;
//height: 800px;
//left: 200px;
//top: 100px;
//z-index: 10;
//background-color: white;
//border: 1px solid green;

.biz-overview{
	margin-right: 34px;
	width: 240px;
	float: left;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 51px;
	height: 200px;
	padding-bottom: 0px;
	border: 1px solid #D8D8D8;
	background-color: #FFF;
}

//.floatingEntryContent {
//	position: fixed;
//	top: 0px;
//	bottom: 0px;
//	max-width: 100%;
//	z-index: 505;
//	transition-property: opacity;
//	transition-duration: 0.2s;
//	transition-timing-function: initial;
//	transition-delay: initial;
//}

body.home.slided{
	color: #494949;
}

.sliderContainer {
	min-width: 75%;
	width: 500px;
}

.button_to{
	margin-top: -7px;
}

#search-form{
	margin-top: 7px;
}

body {
	padding: 0px;
	margin: 0px;
}

.navbar {
	min-height: 0px;
	margin-bottom: 0px;
}

#backdrop{
	
}

.main-header {
	text-align: center;
}

.header-footer {
	text-align: center;
	margin: 0px auto 0px auto;
}

.form-group {
	text-align:center;
}

ul {
	list-style: none;
}

.sub-header{
	float:left;
}

#bus-search{
	width: 200px;
}

.navbar-middle {
	float:left;
}

.navbar-right {
	float:right;
}

#content {
	display: block;
}

#sidebar {
//	position: fixed;
	background-color: lightgreen;
	float:left;
//	display:block;
	padding-right: 50px;
	width: 300px;
//	left: 0;
	height: 100%;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.sub-title {
	padding-left: 30px;
}

.link {
	padding-left: 30px;
}

#main {
	float: left;
	width: 900px;
}

#businesses-wrapper {
	padding: 30px;
}

div.welcome-container{
	margin-top: 50px;
}

.navbar-right {
	margin-top: 15px;
}

.navbar-collapse.collapse {
	height: 45px;
}

.welcome-container {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	input {
		color: black;
	}
	.btn {
		color: white;
	}
}

.container {
	width: 1270px;
}
//body {
//background-size:2em 2em;background-position:0em 1em,1em 0,0em 1em,1em 0,0 0,0 0,0 0,0 0,0 0;background-image:linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,transparent 17%,#000 17%,#000 21%,transparent 21%,transparent 79%,#000 79%,#000 83%,transparent 83%),linear-gradient(45deg,transparent 29%,#000 29%,#000 33%,transparent 33%,transparent 67%,#000 67%,#000 71%,transparent 71%),linear-gradient(-135deg,#202020 10%,#090909 33%,transparent 33%,transparent 67%,#161616 67%,#202020 90%),linear-gradient(135deg,transparent 21%,#161616 21%,#2d2d2d 32.6%,#161616 64.5%,#202020 70.3%,#090909 79%,transparent 79%),linear-gradient(-135deg,transparent 21%,#161616 21%,#202020 40%,#202020 60%,#090909 79%,transparent 79%);
//color: white;
//font-weight: 700;
//font-size: 29px;
//margin: 4em auto;
//text-align: center;
//cursor: crosshair;
//letter-spacing: 5;
//}

/*This is coded CSS rainbow*/

a:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}