/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//* {
//	border: thin solid blue;
//}

//cool stuff:
//position: absolute;
//width: 800px;
//height: 800px;
//left: 200px;
//top: 100px;
//z-index: 10;
//background-color: white;
//border: 1px solid green;

.biz-overview{
	margin-right: 34px;
	width: 240px;
	float: left;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 51px;
	height: 225px;
	padding-bottom: 0px;
	border: 1px solid #D8D8D8;
	background-color: #FFF;
	overflow: hidden;
}

.art-overview{
	display: block;
	width: 700px;
	height: 150px;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 30px;
	padding-bottom: 0px;
	border: 1px solid #D8D8D8;
	background-color: #FFF;
}

#biz-show {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	max-width: 100%;
	left: 100%;
//	display: none;
	visibility: hidden;
	opacity: 0;
	overflow: scroll;
	transition-property: left opacity;
	transition-duration: .5s;
//	transition-timing-function: initial;
//	transition-delay: initial;
}

html body {
	background-color: #46BD9D;
	height: 100%;
}


.sliderContainer {
	background-color: white;
}

.is_disabled {
    opacity: .5;
	background-color: black;
    pointer-events: none;
}

#main{
	background-color: #46BD9D;
	overflow: scroll;	
	width: 75%;
	
	position:fixed;
	top:66px;
	right:0;
	bottom:0;
}

#biz-show.show {
	visibility: visible;
	opacity: 1;
	background-color: white;
	left: 40%;
	width: 75%;
}

.back-to-biz {
	margin-bottom: 20px;
}

h2 {
	margin-top: 0px;
}

.navbar-brand{
	padding: 0px 0px;
}

body.home.slided{
	color: #494949;
}

//.sliderContainer {
//	min-width: 75%;
//	width: 500px;
//}

.button_to{
	margin-top: 0px;
	float: left;
}

body {
	padding: 0px;
	margin: 0px;
}

.navbar {
	min-height: 50px;
	margin-bottom: 0px;
	background-color: #575A49;
}

.backdrop{
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
}

.username{
	color: white;
	float:left;
	margin-right: 20px;
	margin-top: 7px;
}

.main-header {
	text-align: center;
}

.header-footer {
	text-align: center;
	margin: 0px auto 0px auto;
	margin-bottom: 25px;
}

.input-icon{
	
}

.form-group {
	text-align:center;
}

ul {
	list-style: none;
}

.sub-header{
	float:left;
}

#bus-search{
	width: 200px;
}

.navbar-middle {
	float:left;
	margin-left: 15px;
	margin-top: 15px;
}

.navbar-right {
	float: right;
}

.navbar-brand {
	margin-top: 7px;
}

#content {
	display: block;
}

.feed-list{
	margin-top: 30px;
}

#sidebar {
//	position: fixed;
	background-color: #6FA780;
//	display:block;
	padding-right: 50px;
	width: 25%;
	
	position:fixed;
	top:66px;
	left:0;
	bottom:0;
//	left: 0;
	overflow: scroll;
}

.shadow {
  -moz-box-shadow:    1px 1px 2px 3px #ccc;
  -webkit-box-shadow: 1px 1px 2px 3px #ccc;
  box-shadow:         1px 1px 2px 3px #ccc;
}

.sub-title {
	padding-left: 30px;
	margin-top: 20px;
}

.header-description {
	margin-left: 30px;
	margin-top: 20px;
}

.clamped {
    line-height: 1.5;
    overflow: hidden;
    position: relative;
}

.clamped-2 {
    /* Clamp to 2 lines, ie line-height x 2: */
    max-height: 3em;
}

.ellipsis {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill {
    background: #fff; 
    height: 100%;
    position: absolute;
    width: 100%;
}

.link {
	padding-left: 30px;
}

#businesses-wrapper {
	padding: 30px;
}

div.welcome-container{
	margin-top: 50px;
}

.navbar-right {
	margin-top: 15px;
}

.navbar-collapse.collapse {
	height: 45px;
}

.welcome-container {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	input {
		color: black;
	}
	.btn {
		color: white;
	}
}

.container {
	width: 1270px;
}
//body {
//background-size:2em 2em;background-position:0em 1em,1em 0,0em 1em,1em 0,0 0,0 0,0 0,0 0,0 0;background-image:linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(45deg,#000 8%,transparent 8%,transparent 92%,#000 92%),linear-gradient(-45deg,transparent 17%,#000 17%,#000 21%,transparent 21%,transparent 79%,#000 79%,#000 83%,transparent 83%),linear-gradient(45deg,transparent 29%,#000 29%,#000 33%,transparent 33%,transparent 67%,#000 67%,#000 71%,transparent 71%),linear-gradient(-135deg,#202020 10%,#090909 33%,transparent 33%,transparent 67%,#161616 67%,#202020 90%),linear-gradient(135deg,transparent 21%,#161616 21%,#2d2d2d 32.6%,#161616 64.5%,#202020 70.3%,#090909 79%,transparent 79%),linear-gradient(-135deg,transparent 21%,#161616 21%,#202020 40%,#202020 60%,#090909 79%,transparent 79%);
//color: white;
//font-weight: 700;
//font-size: 29px;
//margin: 4em auto;
//text-align: center;
//cursor: crosshair;
//letter-spacing: 5;
//}

/*This is coded CSS rainbow*/

a:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}


.spinner {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}