<div class='floatingEntryContent sliderContainer' style='right:0px;'><img src="<%= business.get('image_source')%>" width='150' height='100'></img>
<h2><%= business.get('title') %></h2>
<p><%= business.get('description')%>
<a href=''>Back to Business Index</a>
<ul id='article-wrapper'>
</ul></div>

