<div class='floatingEntryContent sliderContainer'>
	
		<img src="<%= business.get('image_source')%>" width='150' height='100'></img>
		<h2><%= business.get('title') %></h2>
		<a href=''>X</a>
	
	
				<p><%= business.get('description')%></p>
				
				<ul id='article-wrapper'>
				</ul>
		
	
		<a href=''>Back to Business Index</a>
	
</div>

<!-- floatingEntryContent sliderContainer -->