<li><img src="<%= business.get('image_source')%>" width='75' height='50'></img>
	<a href='#businesses/<%= business.id %>'><%= business.get('title') %></a>
	<p><%= business.get('description') %></p></li>