<div class='floatingEntryContent sliderContainer'>
	
		<img class='sub-title' src="<%= business.imageUrl()%>" width='150' height='100'></img>
		<h2 class='sub-title'><%= business.get('title') %></h2>
		<a class='sub-title back-to-biz' href=''>X</a>
	
	
				<p class 'header-description' style='margin-left: 30px;'><%= business.get('description')%></p>
				
				<ul id='article-wrapper' class='feed-list'>
					<div class="spinner">
					  <div class="dot1"></div>
					  <div class="dot2"></div>
					</div>
				</ul>
		
	
		<a class='sub-title back-to-biz' href=''>Back to Business Index</a>
	
</div>

<!-- floatingEntryContent sliderContainer -->