<img src='http://www.autoguide.com/blog/wp-content/uploads/2012/01/tesla-logo.jpg' width='150' height='100'></img>
<h2><%= business.get('title') %></h2>
<p><%= business.get('description')%>

<ul id='article-wrapper'>
	
</ul>